@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
   
}
#left{
    display: flex;
    flex-direction: column;
    
    width: 35%;
    
    background: url("./images/lamboResized.jpg") no-repeat local 47% 50%;
    
    
}
#right{
    display: flex;
    flex-direction: column;
    width: 65%;
    
}

#rightTop{
    
    min-height: 60%;
    width: 100%;
    box-shadow: 0 5px 10px -5px #888;
}
#rightBottom{
    
    min-height: 40%;
    width: 100%;
}
.leftFooter{
    color:beige;
    text-align: center;
}

.leftMain{
    min-height: 93%;
}
.topSection{
    min-height: 20%;
}
.bottomSection{
    min-height: 55%;
}
.banner{ 
    background-color: rgba(0,0,0,0.5);
    font-size: 3em;
    color: rgb(180, 25, 4);
    font-family: "norsebold", normal;   
    display: flex;
    justify-content: center;
    align-items:center;
    height: min(25%, 250px);
}
.badge{
    fill: rgb(255, 199, 16);
    height: 50%;

}

